@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Armin Grotesk, ArminGroteskBlack, ArminGroteskSemiBold, sans-serif;
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 1.12px;
}

.container {
  max-width: 100%;
  margin-inline: auto;
  align-items: center;
  background-color: #f6f6eb;
}

.navigation {
  display: flex;
  background-color: #f6f6eb;
  padding: 14px;
  justify-content: space-between;
  gap: 600px;
  align-items: center;
  font-weight: 900;
  color: #381fd1;
  max-width: 1182px;
}

.navigation > .navigation__menu-group {
  display: flex;
  gap: 20px;
  padding-left: 0;
  margin-block: 0;
  list-style: none;
  align-items: center;
  position: sticky;
  left: 400px;
}
@media (width < 900px) {
  .navigation > .navigation__menu-group-pos {
    display: none;
  }
}

.navigation > .navigation__menu-bar {
  display: flex;
  gap: 20px;
  padding-left: 0;
  margin-block: 0;
  list-style: none;
  align-items: center;
  position: sticky;
  right: 30px;
  float: right;
}

button {
  text-align: center;
  float: right;
  height: 30px;
  padding-top: 4px;
  background-color: #f6f6eb;
  color: #381fd1;
  border: 1px solid #f6f6eb;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  font-family: Armin Grotesk, ArminGroteskBlack, ArminGroteskSemiBold, sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 900;
  letter-spacing: 1.12px;
  text-align: center;
}

.button__6 {
  color: #fff;
  background-color: #381fd1;
}

.logo {
  padding-top: 4px;
  cursor: pointer;
}

button:hover {
  color: #381fd1;
  background-color: #f6f6eb;
  border: 2px solid #381fd1;
}

.button__1 {
  width: 120px;
}

.button__2 {
  width: 100px;
}

.button__3 {
  width: 100px;
}

.button__4 {
  width: 130px;
}

.button__5 {
  width: 75px;
}

.button__6 {
  width: 170px;
}

.button__6:hover {
  color: #fff;
  background-color: #523ddb;
  border: 0px;
}

@media screen and (max-width: 900px) {
  .navigation__menu-bar_1 {
    display: none;
  }
}
.logo__3 {
  padding-top: 5px;
  color: #381fd1;
  padding-top: 6px;
}

@media screen and (max-width: 1800px) {
  .logo__3 {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .logo__3 {
    display: inline;
    float: right;
    max-width: 100%;
    margin-inline: 0;
    justify-content: end;
  }
}
.container_2 {
  display: grid;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  grid-template-columns: 21rem repeat(auto-fit, minmax(180px, 1fr));
  row-gap: 1.5rem;
  max-width: 1250px;
  padding: 0.75rem;
  background-color: #fff;
  margin-inline: auto;
  margin-top: 35px;
}

@media screen and (max-width: 900px) {
  .container_2 {
    grid-template-columns: 1rem repeat(auto-fit, minmax(180px, 1fr));
    margin-top: 0px;
  }
}
@media screen and (max-width: 3800px) {
  .input_1 {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .input_1 {
    display: grid;
    grid-column: 1;
    -webkit-appearance: none;
    border: 2px solid #acacaf;
    border-radius: 4px;
    box-shadow: none;
    color: #4b4b4e;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin: 0;
    min-height: 2.75rem;
    outline: 0;
    padding: 0 1rem;
    transition: border-color 0.2s ease;
    min-width: 750px;
    height: 44px;
    margin-top: 115px;
    margin-inline: 25px;
    box-sizing: border-box;
  }
}
.sidebar {
  grid-column: 1;
  grid-row: 1/-1;
  background-color: #fff;
  padding: 0.75rem;
  min-width: 280px;
  width: 280px;
}

.card-collection {
  row-gap: 1.5rem;
  display: grid;
  grid-column: 3/-1;
  grid-template-columns: subgrid;
  grid-row: 1/-1;
  grid-auto-rows: subgrid;
}

.title {
  grid-column: 1/-1;
}

.cate_1 {
  list-style: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.7;
  margin: 0;
  padding: 0;
}

.cate_1 {
  width: 200px;
  padding-inline: 10px;
  padding-block: 15px;
}

.cate_1_1:hover {
  color: #381fd1;
}

.cate_1_2:hover {
  color: #381fd1;
}

.cate_1_3:hover {
  color: #381fd1;
}

.cate_1_3 {
  justify-content: space-between;
}

.input {
  -webkit-appearance: none;
  border: 2px solid #acacaf;
  border-radius: 4px;
  box-shadow: none;
  color: #4b4b4e;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin: 0;
  min-height: 2.75rem;
  outline: 0;
  padding: 0 1rem;
  transition: border-color 0.2s ease;
  width: 280px;
  height: 44px;
  position: absolute;
}

.title {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title_1 {
  padding-top: 30px;
  font-weight: 900;
  line-height: 1.1;
  font-size: 3rem;
  letter-spacing: -0.01em;
}

.title_2 {
  font-size: 1.25rem;
  line-height: 1.5;
}

.card {
  border: 1px solid #e5e5e6;
  border-radius: 8px;
  padding-inline: 24px 1.5rem;
  padding-top: 12px;
  padding-bottom: 40px;
  text-align: left;
}

.card:hover {
  border: 1px solid rgb(162, 162, 162);
  border-radius: 8px;
}

.library-thumbnail {
  border: 1px solid #e5e5e6;
  border-radius: 8px;
  padding: 2px;
  width: 40px;
  height: 40px;
}

.card__author-role {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
  color: #381fd1;
}

.card__title {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.1;
}

.svg_icon {
  position: relative;
  align-items: center;
  margin: 11px 10px;
  opacity: 40%;
}

@media screen and (max-width: 900px) {
  .sidebar {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .button__1 {
    color: #f6f6eb;
  }
}
@media screen and (max-width: 900px) {
  .button__2 {
    color: #f6f6eb;
  }
}
@media screen and (max-width: 900px) {
  .button__3 {
    color: #f6f6eb;
  }
}
@media screen and (max-width: 900px) {
  .button__4 {
    color: #f6f6eb;
  }
}
@media screen and (max-width: 900px) {
  .logo {
    display: inline;
  }
}
.title_float {
  float: right;
  position: sticky;
  padding-top: 30px;
  font-family: RobotoMono, sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.07em;
  line-height: 140%;
  text-transform: uppercase;
  text-decoration: underline;
  color: #381fd1;
  cursor: pointer;
}

.title_float:hover {
  color: #715fe6;
}

.subbox {
  background-color: #f3f2fc;
  padding: 24px;
  width: 280px;
  border-radius: 8px;
}

.subbox_1 {
  font-size: 22px;
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: 0.5px;
}

.subbox_2 {
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  align-items: center;
  letter-spacing: 0.5px;
}

.subbox_3 {
  text-align: center;
  background-color: #381fd1;
  color: #fff;
  border-radius: 8px;
  width: 232px;
  height: 44px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  letter-spacing: 0.5px;
  padding-top: 13px;
}

.subbox_3:hover {
  background-color: #715fe6;
}

.sidebar {
  grid-column: 1;
  grid-row: 1/-1;
  background-color: #fff;
  padding: 0.75rem;
  min-width: 280px;
  width: 280px;
}

.collections-card__image {
  width: 261px;
  height: 350px;
  position: absolute;
  margin: 0;
  padding: 0;
  border: none;
  grid-auto-rows: subgrid;
}

.img__font {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.1;
  position: absolute;
  padding: 10px 30px;
}

.card_2_1 {
  width: 261px;
  height: 350px;
  background-color: #f3f2fc;
  border-radius: 8px;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.card_2_2 {
  width: 261px;
  height: 350px;
  background-color: #f6f6eb;
  border-radius: 8px;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.collections-card__image_3 {
  width: 261px;
  height: 194px;
  margin-top: 156px;
  border: none;
}

.collections-card__image_2 {
  width: 261px;
  height: 194px;
  margin-top: 156px;
  border: none;
}

.card_2 {
  cursor: pointer;
}

.card_2:hover {
  transition-property: all; /*모든부분 변화*/
  transform: scale(1.1);
  transition-timing-function: linear; /*1.2배 확대*/
  transform: rotate3d(30);
  transition-duration: 0.2s;
}

.footer_title {
  font-size: 0.875rem;
  font-weight: 900;
  line-height: 1.5;
  color: #fff;
}

.footer_sub {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5;
  color: #fff;
  cursor: pointer;
}

.footer_sub:hover {
  text-decoration: underline;
}

.footer {
  background-color: #10284b;
  margin-top: 130px;
  margin-inline: auto;
  margin-top: 130px;
  display: grid;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  grid-template-columns: 18rem repeat(auto-fit, minmax(250px, 1fr));
  row-gap: 1.8rem;
  max-width: 1250px;
  padding: 0.75rem;
  padding-top: 70px;
  grid-auto-rows: subgrid;
}

.img__boxbox {
  display: flex;
  gap: 15px;
}

.w-8 {
  width: 2rem;
  height: 2rem;
}

.last {
  letter-spacing: 0.08em;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4;
  color: #fedb63;
  max-width: 30px;
  min-width: 1280px;
  grid-row: 5;
  grid-column: 10;
}

.footer_container {
  background-color: #10284b;
  max-width: 100%;
}

.footerbox {
  display: grid;
  justify-content: space-between;
}