* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 75rem;
  margin-inline: auto;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 1fr;
  background-color: oklch(0.95 0 0);
  gap: 1.5rem;
}

.card {
  padding: 1rem;
  background-color: oklch(0.9 0.2 240);
  border: 2px solid rgba(0, 0, 0, 0);
  transition: all 300ms ease-in-out;
}
.card:hover {
  background-color: oklch(0.9 0.2 120);
}
.card--state-clicked {
  border: 2px solid rgb(0, 0, 0);
}