*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.container {
  max-width: 1200px;
  padding-inline: 24px;
  margin-inline: auto;
  background-color: oklch(0.9 0 0);
}

.yt-video {
  margin-inline: auto;
  width: 100%;
}

#video1 {
  aspect-ratio: 560 / 315;
}

#video2 {
  aspect-ratio: 560 / 315;
}

img,
iframe {
  display: block;
}
