@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.navigation {
  font-size: 1.5rem;
  background-color: #000;
  color: #fff;
  padding-inline: 1.875rem;
  padding-block: 1.1875rem;
}
.navigation__container {
  width: 90%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}
.navigation__menu-group {
  display: flex;
  align-items: center;
}
.navigation__menu-group-left {
  gap: 0.8125rem;
}
.navigation__menu-group-right {
  gap: 1rem;
}
@media (width < 900px) {
  .navigation__menu-group-right {
    display: none;
  }
}
.navigation__logo {
  height: 2rem;
  aspect-ratio: 200/51;
}
.navigation__page-title {
  margin-top: 0.1875rem;
  padding-top: 0.1875rem;
  padding-left: 13px;
  line-height: 1.4375rem;
  border-left: 2px solid #fff;
}
.navigation__btn {
  line-height: 2.25rem;
  padding-inline: 1.4375rem;
  padding-block: 0.4375rem;
  border-radius: 0.5rem;
}
.navigation__btn__outline {
  border: 1px solid #fff;
  background-color: #191a1b;
}
.navigation__btn__fill {
  background-color: #515fcb;
}

.hero {
  background-color: #daddee;
  padding-inline: 1.875rem;
  padding-block: 5rem 7.1875rem;
}
.hero__container {
  width: 90%;
  margin-inline: auto;
}
.hero__text {
  font-size: 80px;
  line-height: 120px;
  text-align: center;
  width: 80%;
  margin-inline: auto;
}
.hero__search-input {
  padding: 1rem;
  border: 0.0625rem solid #000;
  background-color: #fff;
  font-size: 1.5rem;
  line-height: 2rem;
  border-radius: 0.25rem;
  margin-inline: auto;
  display: block;
  width: 80%;
}

.feature {
  padding: 30px;
}
.feature__container {
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 48px;
  width: 80%;
  margin-inline: auto;
  padding-left: 0;
  list-style: none;
  margin-block: 0;
  display: flex;
  flex-wrap: wrap;
}
.feature__container > * {
  flex-basis: 0;
  flex-grow: 1;
  /* 메모: 이따 제대로 된 사이즈 확정할 것 */
  min-width: 400px;
}

.card {
  display: flex;
  gap: 30px;
  padding-top: 48px;
}
.card__img {
  max-width: 80px;
}