*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 18px;
  line-height: 150%;
}

p {
  margin-block: 0;
}

.text {
  animation-name: reveal;
  animation-timeline: view();
}

.grid {
  max-width: 960px;
  margin-inline: auto;
  padding-inline: 24px;
  background-color: oklch(0.95 0 0);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}