*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.125rem;
  line-height: 150%;
}

.section {
  padding-block: 24px;
}

.section > h2 {
  max-width: 60rem;
  margin-inline: auto;
  margin-block: 0;
  padding-inline: 1.5rem;
  margin-bottom: 0.75rem;
}

.container {
  max-width: 60rem;
  margin-inline: auto;
  padding-inline: 1.5rem;
  background-color: oklch(0.95 0.01 240);
}

.grid {
  display: grid;
}
.grid__item--nth-1 {
  background-color: oklch(0.9 0.05 30);
}
.grid__item--nth-2 {
  background-color: oklch(0.9 0.05 60);
}
.grid__item--nth-3 {
  background-color: oklch(0.9 0.05 90);
}
.grid__item--nth-4 {
  background-color: oklch(0.9 0.05 120);
}
.grid__item--nth-5 {
  background-color: oklch(0.9 0.05 150);
}
.grid__item--nth-6 {
  background-color: oklch(0.9 0.05 180);
}
.grid__item--nth-7 {
  background-color: oklch(0.9 0.05 210);
}
.grid__item--nth-8 {
  background-color: oklch(0.9 0.05 240);
}
.grid__item--nth-9 {
  background-color: oklch(0.9 0.05 270);
}
.grid__item--nth-10 {
  background-color: oklch(0.9 0.05 300);
}
.grid__item--nth-11 {
  background-color: oklch(0.9 0.05 330);
}
.grid__item--nth-12 {
  background-color: oklch(0.9 0.05 360);
}
.grid--opt-1 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 4fr;
  grid-auto-rows: 1fr;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  row-gap: 1.5rem;
}
.grid--opt-2 {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 1fr;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  row-gap: 1.5rem;
}